* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

.header_row {
    display: block;
}

.header_row_mobile {
    display: none;
}

#header {
    width: 100%;

}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav ul li a:hover {
    padding: 5px;
    border-radius: 5px;
    color: black;
    background: rgb(255, 255, 255);
    transition: .5s;
}

nav .fa-solid {
    display: none;
}

.header_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.header-col-1 {
    flex-basis: 60%;
}

.header-col-2 img {
    width: 100%;
}

.header-col-2 {
    flex-basis: 35%;
    text-align: center;
}

.header-text {
    margin-top: 25%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 45px;
    margin-top: 20px;
}

.download-circle {
    margin-top: 10px;
}

.download-circle a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #007BFF;
    /* Change the color as needed */
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.download-circle a:hover {
    background-color: #0056b3;
    /* Change the hover color as needed */
}

/* ---about--- */

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;

}

.about-col-2 p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

/* ----services--- */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.card {
    background: #17161c;
    padding: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 300;
    text-align: center;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.services-list div img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card div {
    margin-top: 20px;
}

.download-link {

    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    /* Change the color as needed */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #0056b3;
    /* Change the hover color as needed */
}


/* ---footer--- */

.footer {
    background-color: #000000;
    color: white;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #908b8b;
}


/* ----css small screen--- */

@media only screen and (max-width:600px) {

    .header_row {
        display: none;
    }

    #header {
        width: 100%;
    }

    #services {
        padding: 60px 0;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #17161c;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
    }

    .download-circle a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        /* Change the color as needed */
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }

    .header-text {
        margin-top: 25%;
    }

    .header-text h1 {
        font-size: 30px;
    }

    #about {
        display: none;
    }

    .header_row_mobile {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 20px;
    }

    .header-col-1 img {
        height: 40vh;
    }

    .header-col-1,
    .header-col-2 {
        flex-basis: 100%;
    }

}